<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<p>
  Hello <span th:text="${name}"></span> !
</p>
<span>You receive this email because AlertRule named: <span
  th:text="${alertName}"></span></span> of yours got triggered at <span
  th:text="${time}"></span> </p>
<p th:text="${message}"></p>
<p>Consider checking the affected system.</p>
<p>If you have any questions please talk to your HamerMEMS Administrator.</p>
<p>Regards, <br/>
  <em>The HamerMEMS Team</em>

</p>
<br/>
<p>This is an automatically created Email. Do not answer this mail.</p>
</body>
</html>
